* {
	margin: 0px;
	padding: 0px;
}
#fondoCream {
	/* border: 3px solid red; */
	background-color: hsl(30, 38%, 92%);
	width: 375px;
	height: 667px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#fondoBlanco {
	/* border: 3px solid magenta; */
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
	width: 343px;
	height: 614px;
}
#imagenProducto {
	/* border: 3px solid orange; */
	border-radius: 10px 10px 0px 0px; /* LU RU RD LD */
	width: 343px;
	height: 241px;
}
#perfume {
	font-family: "Montserrat", sans-serif;
	color: hsl(228, 12%, 48%);
	font-weight: 500;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 7px;
}
#Gabrielle {
	font-family: "Fraunces", serif;
	font-weight: 700;
	font-size: 26px;
}
#floral {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: hsl(228, 12%, 48%);
}
#precios {
	display: flex;
	align-items: center;
}
#ultimoPrecio {
	/* border: solid blue; */
	color: hsl(158, 36%, 37%);
	font-family: "Fraunces", serif;
	font-weight: 700;
	font-size: 26px;
	float: left;
}
#precioOriginal {
	/* border: solid lightblue; */
	text-decoration: line-through;
	font-size: 12px;
	/* float: right; */
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: hsl(228, 12%, 48%);
}
#boton {
	/* border: solid hsl(158, 36%, 37%); */
	background-color: hsl(158, 36%, 37%);
	border-radius: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 296px;
	height: 49px;
	color: hsl(0, 0%, 100%);
}
#boton img {
	padding-right: 11px;
}
.clearfix {
	clear: both;
}
